.edito {
  margin: 2rem auto;
  padding: 2rem;
  background-color: #333;
  border: 1px solid rgba(255,255,255,.3);
  border-radius: 1rem;
  width: 96%;
  max-width: 50em;
}
.edito-grand {
  font-size: 2rem;
}
